export MM_FOX_CODE=
export MM_BRANCH_KEY_TEST=
export MM_BRANCH_KEY_LIVE=
export MM_MIXPANEL_TOKEN=

# Android signing (do not commit real values)
export ANDROID_RELEASE_STORE_FILE=
export ANDROID_RELEASE_STORE_PASSWORD=
export ANDROID_RELEASE_KEY_ALIAS=
export ANDROID_RELEASE_KEY_PASSWORD=
export ANDROID_DEBUG_STORE_FILE=
export ANDROID_DEBUG_STORE_PASSWORD=
export ANDROID_DEBUG_KEY_ALIAS=
export ANDROID_DEBUG_KEY_PASSWORD=
